<p>post-list works!</p>
<div *ngFor="let post of posts"
style="border: 1px solid grey;
margin: 4px; padding: 4px;"
>
<h4>Id: #{{post.userID}}</h4>
<span>id:{{post.id}}</span>
<span>Title: {{post.title}}</span>
<span>Body: {{post.body}}</span>

<!-- </div>
<p>post-list works!</p>
<div *ngFor="let u of users"
style="border: 1px solid grey;
margin: 4px; padding: 4px;"
>
<h4>Id: #{{u.userID}}</h4>
<p>id:{{u.id}}</p>
<p>name: {{u.name}}</p>
<p>username: {{u.username}}</p>
<p>address: {{u.address}}</p>
</div> -->
